{{#link-to 'book' book.id}}
<section class="info">
  <span class="banner">
    {{#if book.banner}}
      <img src={{book.banner}} alt="">
      {{else}}
      <img src="assets/images/default/leaves.jpg" alt="">
    {{/if}}
  </span>
  {{#if session.isAuthenticated}}
    <button class="favorite" {{action "favorite" bubbles=false}}>
      {{#if book.favorite}}
        <img class="icon star" src="/assets/images/icons/i_starred.svg" alt="favorite">
        {{else}}
        <img class="icon star" src="/assets/images/icons/i_unstarred.svg" alt="favorite">
      {{/if}}
    </button>
    <p class="title" title={{book.title}}>{{book.title}}</p>
  {{else}}
    <p class="title unauthenticated" title={{book.title}}>{{book.title}}</p>
  {{/if}}
  {{!-- <p class="author">{{book.author}}</p> --}}
</section>
<section class="details">
  <span class="source language">
    <p title={{book.sourceLanguage}}>{{book.sourceLanguage}}</p>
  </span>
  <img class="icon cardinality" src="/assets/images/icons/i_cardinality.svg" alt="">
  <span class="target language">
    <p title={{book.targetLanguage}}>{{book.targetLanguage}}</p>
  </span>
</section>
{{/link-to}}