<div class="new">
  <h1>New book</h1>
  {{input valueBindings="title" placeholder="Title"}}
  {{input valueBindings="description" placeholder="Description"}}
  {{input valueBindings="sourceLanguage" placeholder="Source Language"}}
  {{input valueBindings="targetLanguage" placeholder="Target Language"}}
  <button {{action "save"}}>Save</button>
</div>