{{#link-to "book" book}}
<section class="info">
  <span class="banner">
    {{#if book.banner}}
      <img {{bind-attr src="book.banner"}} alt="">
    {{/if}}
  </span>
  <button class="favorite" {{action "favorite" bubbles=false}}>
    {{#if book.favorite}}
      <img class="icon star" src="img/icons/i_starred.svg" alt="favorite">
      {{else}}
      <img class="icon star" src="img/icons/i_unstarred.svg" alt="favorite">
    {{/if}}
  </button>
  <p class="title">{{book.title}}</p>
  <p class="author">{{book.author}}</p>
</section>
<section class="details">
  <span class="source language">
    <p>{{book.sourceLanguage}}</p>
  </span>
  <img class="icon cardinality" src="img/icons/i_cardinality.svg" alt="">
  <span class="target language">
    <p>{{book.targetLanguage}}</p>
  </span>
</section>
{{/link-to}}