<nav>
  {{#link-to "index"}}<img class="icon home" src="/assets/images/icons/i_home.svg" alt="home">{{/link-to}}
  {{#if session.isAuthenticated}}
    <button {{action "toggleMenu"}} >
      {{#if menuOpen}}
        <img class="icon more" src="/assets/images/icons/i_close.svg" alt="more">
        {{else}}
        <img class="icon more" src="/assets/images/icons/i_more.svg" alt="more">
      {{/if}}
      <span class="buttonBackground"></span>
    </button>
    {{else}}
    {{#link-to 'login'  class="signInButton"}}Sign in{{/link-to}}
  {{/if}}


  <div class="searchBar">
    <img class="icon search" src="/assets/images/icons/i_search.svg" alt="search">
    {{input placeholder="Search for a tag, phrase or language"}}
  </div>

  {{!-- <a  class="firebase" href="https://wikitongues-poly.firebaseio.com/" target="_blank">Firebase</a> --}}
</nav>

{{#if menuOpen}}
  {{#if session.isAuthenticated}}
    <div class="menu">
      {{#link-to 'profile' class="signInButton"}}Profile{{/link-to}}
      <a class="signInButton" {{action 'logout'}}>Sign out</a>
    </div>
  {{/if}}
{{/if}}

{{outlet}}

<p class="version">0.0.1</p>
