<div class="book">
  <div class="info">
    <button class="favorite" {{action "favorite"}}>
      {{#if model.favorite}}
        <img class="icon star" src="/assets/images/icons/i_starred.svg" alt="favorite">
        {{else}}
        <img class="icon star" src="/assets/images/icons/i_unstarred.svg" alt="favorite">
      {{/if}}
    </button>
    <h1>{{model.title}}</h1>
    <h3>{{model.author}}</h3>
    <p>{{model.description}}</p>
  </div>

  <img class="banner" src={{model.banner}} alt="">

    <div class="cardinality">
      <section>
        <h1 class="language source" title={{model.sourceLanguage}}>{{model.sourceLanguage}}</h1>
        {{!-- {{#link-to "" classNames="language source" tagName="h1" title=sourceLanguage}}{{sourceLanguage}}{{/link-to}} --}}
        <img class="icon cardinality" src="/assets/images/icons/i_cardinality.svg" alt="">
        {{!-- {{#link-to "" classNames="language target" tagName="h1" title=targetLanguage}}{{targetLanguage}}{{/link-to}} --}}
        <h1 class="language target" title={{model.targetLanguage}}>{{model.targetLanguage}}</h1>
      </section>
    </div>

  <section class="content-wrapper">
    <ul class="content">
      {{#each model.phrases}}
        <li class="entry">
          <ul>
            {{#if model.sourcePhrase}}
            <li class="source">
              <p>{{model.sourcePhrase}}</p>
            </li>
            {{/if}}
            {{#if model.targetPhrase}}
            <li class="target">
              <p>{{model.targetPhrase}}</p>
            </li>
            {{/if}}
          </ul>
        </li>
        {{else}}
        <p class="empty">Shoot! There is nothing here!</p>
      {{/each}}
      {{!-- {{partial "phraseInput"}} --}}
    </ul>
    <div class="addPhrase open">
      <button {{action "addPhrase"}}>+</button>
    </div>
    <div class="newPhrase">
      {{input classNames="input source" value="" value="sourcePhrase" placeholder="Source Phrase"  autofocus=true}}
      {{input classNames="input target" value="" value="targetPhrase" placeholder="Target Phrase" autofocus=true}}
      <a class="icon save saveSource" {{action "saveSource"}} title="Save">+</a>
      <a class="icon save saveTarget" {{action "saveTarget"}} title="Save">+</a>
    </div>
  </section>
</div>