<div class="login">
<h1>Poly</h1>

<div class="container signIn">

  <form class="createAccount" {{action 'createAccount' on='submit'}}>
    <div class="grouping">
      <div class="input">
        {{input value=newUserEmail type="email" required=true}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="newUserEmail">Email address</label>
      </div>
      <div class="input">
        {{input value=newUserPassword type="password" required=true}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="newUserPassword">Password</label>
      </div>
      <button type="submit">Create a new account</button>
    </div>
    <a {{action "NavigateToForgotPassword"}}>Forgot your password?</a>
    <a {{action "NavigateToSignIn"}}>Sign in</a>
  </form>

  <form class="signIn" {{action 'signIn' on='submit'}}>
    <div class="grouping">
      <div class="input">
        {{input value=email type="email" required=true}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="email">Email address</label>
      </div>
      <div class="input">
        {{input value=password type="password" required=true}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="password">Password</label>
      </div>
      <button type="submit">Sign in</button>
    </div>
    <a {{action "NavigateToCreateAccount"}}>Create an account</a>
    <a {{action "NavigateToForgotPassword"}}>Forgot your password?</a>
  </form>

  <form class="resetPassword" {{action 'resetPassword' on='submit'}}>
    <div class="grouping">
      <div class="input">
        {{input value=resetPasswordEmail type="email" required=true}}
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="resetPasswordEmail">Email address</label>
      </div>
      <button type="submit">Reset Password</button>
    </div>
    <a {{action "NavigateToSignIn"}}>Sign in</a>
    <a {{action "NavigateToCreateAccount"}}>Create an account</a>
  </form>

</div>

{{!--
  <h2>change password</h2>
  <form {{action 'changePassword' on='submit'}}>
    <label for="changePasswordEmail">email</label>
    {{input value=changePasswordEmail placeholder='email' type="email"}}
    <label for="oldPassword">old password</label>
    {{input value=oldPassword placeholder='old password' type="password"}}
    <label for="changePassword">new password</label>
    {{input value=changePasswords placeholder='new password' type="password"}}
    <button type="submit" class="btn btn-default">Go!</button>
  </form>
--}}

{{#if errorMessage}}
  <p>
    <strong>Login failed:</strong>
    <code>{{errorMessage}}</code>
  </p>
{{/if}}
</div>


