<div class="new book">
  <div class="info">
    <button class="favorite" {{action "favorite"}}>
      {{#if favorite}}
        <img class="icon star" src="/assets/images/icons/i_starred.svg" alt="favorite">
        {{else}}
        <img class="icon star" src="/assets/images/icons/i_unstarred.svg" alt="favorite">
      {{/if}}
    </button>
    {{input classNames="title" value=model.title placeholder="Useful phrases in Laputa"}}
    <h3>{{author}}</h3>
    {{textarea rows=2 classNames="description" value=model.description placeholder="A collection of useful phrases in Laputa, a Swiftian language spoken in Balnibarbi and a number of other islands."}}
  </div>

  <img class="banner" src={{banner}} alt="">

    <div class="cardinality">
      <section>
        {{input classNames="languageSource" value=model.sourceLanguage placeholder="Source Language"}}
        <img class="icon cardinality" src="/assets/images/icons/i_cardinality.svg" alt="">
        {{input classNames="languageTarget" value=model.targetLanguage placeholder="Target Language"}}
      </section>
    </div>

  <section class="content-wrapper">
    <h1>To add a phrase, <br>click the button below!</h1>
    <div class="addPhrase open">
      <button {{action "saveBook"}}>+</button>
    </div>
  </section>
</div>