<div class="new book">
  <div class="info">
    <div class="wrapper">
      {{input value=model.title placeholder="Useful phrases in Laputa" class="title"}}
      <h3>{{author}}</h3>
      {{textarea rows=2 class="description" value=model.description placeholder="A collection of useful phrases in Laputa, a Swiftian language spoken in Balnibarbi and a number of other islands."}}
    </div>
  </div>

  {{#if model.banner}}
    <div class="bannerWrapper" style="background-image: url({{model.banner}})"></div>
  {{/if}}

    <div class="cardinality">
      <section>
        {{input class="languageSource" value=model.sourceLanguage placeholder="Source Language"}}
        <img class="icon cardinality" src="/assets/images/icons/i_cardinality.svg" alt="">
        {{input class="languageTarget" value=model.targetLanguage placeholder="Target Language"}}
      </section>
    </div>

  <section class="content-wrapper">
    <ul class="dummy content">
      <li class="entry">
        <ul>
          <li class="source">
            <p>Welcome</p>
          </li>
          <li class="target">
            <p>Bem-vinda</p>
          </li>
        </ul>
      </li>
      <li class="entry">
        <ul>
          <li class="source">
            <p>Hello (General greeting)</p>
          </li>
          <li class="target">
            <p>Oi!</p>
          </li>
        </ul>
      </li>
      <li class="entry">
        <ul>
          <li class="source">
            <p>Reply to 'How are you?'</p>
          </li>
          <li class="target">
            <p>Bem obrigada. E você?</p>
          </li>
        </ul>
      </li>
    </ul>
    <button class={{if disabled "startBook disabled" "startBook"}} {{action "saveBook"}}>Get started</button>
  </section>
</div>